Yoav/Yoav/Web References/localhost/Links.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYoutubeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYoutubeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYoutubeIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaylistNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaylistNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPlaylistNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaylistName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaylistNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaylistNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPlaylist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPlaylistResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePlaylist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePlaylistResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddLike">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLikeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLikes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLikesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLikesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MostLikes">
        <s:complexType />
      </s:element>
      <s:element name="MostLikesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostLikesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetYoutubeId" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetYoutubeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaylistNumber" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaylistNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaylistName" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaylistNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddPlaylistSoapIn">
    <wsdl:part name="parameters" element="tns:AddPlaylist" />
  </wsdl:message>
  <wsdl:message name="AddPlaylistSoapOut">
    <wsdl:part name="parameters" element="tns:AddPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePlaylistSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePlaylist" />
  </wsdl:message>
  <wsdl:message name="DeletePlaylistSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="AddLikeSoapIn">
    <wsdl:part name="parameters" element="tns:AddLike" />
  </wsdl:message>
  <wsdl:message name="AddLikeSoapOut">
    <wsdl:part name="parameters" element="tns:AddLikeResponse" />
  </wsdl:message>
  <wsdl:message name="GetLikesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLikes" />
  </wsdl:message>
  <wsdl:message name="GetLikesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLikesResponse" />
  </wsdl:message>
  <wsdl:message name="MostLikesSoapIn">
    <wsdl:part name="parameters" element="tns:MostLikes" />
  </wsdl:message>
  <wsdl:message name="MostLikesSoapOut">
    <wsdl:part name="parameters" element="tns:MostLikesResponse" />
  </wsdl:message>
  <wsdl:portType name="LinksSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeId">
      <wsdl:input message="tns:GetYoutubeIdSoapIn" />
      <wsdl:output message="tns:GetYoutubeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistNumber">
      <wsdl:input message="tns:GetPlaylistNumberSoapIn" />
      <wsdl:output message="tns:GetPlaylistNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistName">
      <wsdl:input message="tns:GetPlaylistNameSoapIn" />
      <wsdl:output message="tns:GetPlaylistNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPlaylist">
      <wsdl:input message="tns:AddPlaylistSoapIn" />
      <wsdl:output message="tns:AddPlaylistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <wsdl:input message="tns:DeletePlaylistSoapIn" />
      <wsdl:output message="tns:DeletePlaylistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLike">
      <wsdl:input message="tns:AddLikeSoapIn" />
      <wsdl:output message="tns:AddLikeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLikes">
      <wsdl:input message="tns:GetLikesSoapIn" />
      <wsdl:output message="tns:GetLikesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MostLikes">
      <wsdl:input message="tns:MostLikesSoapIn" />
      <wsdl:output message="tns:MostLikesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LinksSoap" type="tns:LinksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeId">
      <soap:operation soapAction="http://tempuri.org/GetYoutubeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistNumber">
      <soap:operation soapAction="http://tempuri.org/GetPlaylistNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistName">
      <soap:operation soapAction="http://tempuri.org/GetPlaylistName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylist">
      <soap:operation soapAction="http://tempuri.org/AddPlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <soap:operation soapAction="http://tempuri.org/DeletePlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLike">
      <soap:operation soapAction="http://tempuri.org/AddLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLikes">
      <soap:operation soapAction="http://tempuri.org/GetLikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostLikes">
      <soap:operation soapAction="http://tempuri.org/MostLikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LinksSoap12" type="tns:LinksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeId">
      <soap12:operation soapAction="http://tempuri.org/GetYoutubeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistNumber">
      <soap12:operation soapAction="http://tempuri.org/GetPlaylistNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistName">
      <soap12:operation soapAction="http://tempuri.org/GetPlaylistName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylist">
      <soap12:operation soapAction="http://tempuri.org/AddPlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <soap12:operation soapAction="http://tempuri.org/DeletePlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLike">
      <soap12:operation soapAction="http://tempuri.org/AddLike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLikes">
      <soap12:operation soapAction="http://tempuri.org/GetLikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostLikes">
      <soap12:operation soapAction="http://tempuri.org/MostLikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Links">
    <wsdl:port name="LinksSoap" binding="tns:LinksSoap">
      <soap:address location="https://localhost:44314/Links.asmx" />
    </wsdl:port>
    <wsdl:port name="LinksSoap12" binding="tns:LinksSoap12">
      <soap12:address location="https://localhost:44314/Links.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>